openapi: 3.1.0
    info:
      title: C2-05 Identity & Reputation API
      version: 1.0.0
    servers:
      - url: https://api.coherosphere.com
    tags:
  - name: Identity
paths:

/v1/dids:
  post:
    summary: Create DID
    tags: [Identity]
    security: [{ oauth2: [id:issue] }]
    responses:
      "201": {{ description: Created, content: {{ application/json: {{ schema: {{ $ref: "#/components/schemas/IdResponse" }}}}} }}}
/v1/credentials/issue:
  post:
    summary: Issue credential
    tags: [Identity]
    security: [{ oauth2: [id:issue] }]
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              subjectId: { type: string }
              type: { type: string }
              claims: { type: object }
            required: [subjectId, type]
    responses:
      "201": {{ description: Issued }}
/v1/verify:
  post:
    summary: Verify credential/evidence
    tags: [Identity]
    security: [{ oauth2: [id:verify] }]
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              jwt: { type: string }
            required: [jwt]
    responses:
      "200": {{ description: Verification result }}
/v1/members/{id}/reputation:
  get:
    summary: Get reputation score and attestations
    tags: [Identity]
    security: [{ oauth2: [id:read] }]
    parameters:
      - in: path
        name: id
        required: true
        schema: {{ type: string }}
    responses:
      "200": {{ description: Reputation summary }}


components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.coherosphere.com/oauth/authorize
          tokenUrl: https://auth.coherosphere.com/oauth/token
          scopes:
            poc:read: Read PoC data
            poc:write: Write PoC data
            gov:read: Read governance data
            gov:vote: Cast votes
            gov:write: Create or manage proposals
            treasury:read: Read treasury data
            treasury:manage: Manage rounds and payouts
            id:read: Read identity and reputation
            id:issue: Issue credentials
            id:verify: Verify credentials/evidence
            metrics:read: Read KPIs and SRI
            ethics:evaluate: Run ethics checks
            hub:manage: Manage local hubs and projects
            hub:read: Read hubs/projects
            kg:ingest: Ingest knowledge
            kg:query: Query knowledge
            security:ingest: Send SIEM telemetry
            security:manage: Manage incidents and reports
    did_jwt:
      type: http
      scheme: bearer
      bearerFormat: DID-JWT
  schemas:
    Problem:
      type: object
      properties:
        type: { type: string }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
      required: [type, title, status]
    IdResponse:
      type: object
      properties:
        id: { type: string }
      required: [id]
