openapi: 3.1.0
    info:
      title: C2-03 Governance API
      version: 1.0.0
    servers:
      - url: https://api.coherosphere.com
    tags:
  - name: Governance
paths:

/v1/proposals:
  post:
    summary: Create proposal
    tags: [Governance]
    security: [{ oauth2: [gov:write] }]
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              title: { type: string }
              body: { type: string }
              budget: { type: number }
              refs:
                type: array
                items: { type: string }
            required: [title, body]
    responses:
      "201": {{ description: Created, content: {{ application/json: {{ schema: {{ $ref: "#/components/schemas/IdResponse" }}}}} }}}
/v1/proposals/{id}:
  get:
    summary: Get proposal
    tags: [Governance]
    security: [{ oauth2: [gov:read] }]
    parameters:
      - in: path
        name: id
        required: true
        schema: {{ type: string }}
    responses:
      "200":
        description: Proposal
        content:
          application/json:
            schema:
              type: object
              properties:
                id: { type: string }
                status: { type: string }
                quorum: { type: number }
                threshold: { type: number }
      "404": {{ description: Not found, content: {{ application/problem+json: {{ schema: {{ $ref: "#/components/schemas/Problem" }}}}} }}}
/v1/proposals/{id}/votes:
  post:
    summary: Cast vote
    tags: [Governance]
    security: [{ oauth2: [gov:vote] }]
    parameters:
      - in: path
        name: id
        required: true
        schema: {{ type: string }}
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              choice: { type: string }
            required: [choice]
    responses:
      "202": {{ description: Accepted }}
/v1/proposals/{id}/execute:
  post:
    summary: Execute decision
    tags: [Governance]
    security: [{ oauth2: [gov:write] }]
    parameters:
      - in: path
        name: id
        required: true
        schema: {{ type: string }}
    responses:
      "202": {{ description: Execution triggered }}


components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.coherosphere.com/oauth/authorize
          tokenUrl: https://auth.coherosphere.com/oauth/token
          scopes:
            poc:read: Read PoC data
            poc:write: Write PoC data
            gov:read: Read governance data
            gov:vote: Cast votes
            gov:write: Create or manage proposals
            treasury:read: Read treasury data
            treasury:manage: Manage rounds and payouts
            id:read: Read identity and reputation
            id:issue: Issue credentials
            id:verify: Verify credentials/evidence
            metrics:read: Read KPIs and SRI
            ethics:evaluate: Run ethics checks
            hub:manage: Manage local hubs and projects
            hub:read: Read hubs/projects
            kg:ingest: Ingest knowledge
            kg:query: Query knowledge
            security:ingest: Send SIEM telemetry
            security:manage: Manage incidents and reports
    did_jwt:
      type: http
      scheme: bearer
      bearerFormat: DID-JWT
  schemas:
    Problem:
      type: object
      properties:
        type: { type: string }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
      required: [type, title, status]
    IdResponse:
      type: object
      properties:
        id: { type: string }
      required: [id]
