openapi: 3.1.0
    info:
      title: C2-08 Ethics API
      version: 1.0.0
    servers:
      - url: https://api.coherosphere.com
    tags:
  - name: Ethics
paths:

/v1/ethics/preflight:
  post:
    summary: Evaluate payload against rubric
    tags: [Ethics]
    security: [{ oauth2: [ethics:evaluate] }]
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
    responses:
      "200": {{ description: Decision }}
/v1/ethics/appeals:
  post:
    summary: Submit appeal
    tags: [Ethics]
    security: [{ oauth2: [ethics:appeal] }]
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              subjectId: {{ type: string }}
              reason: {{ type: string }}
            required: [subjectId, reason]
    responses:
      "201": {{ description: Appeal created }}
/v1/rubrics/{id}:
  get:
    summary: Get rubric by id
    tags: [Ethics]
    security: [{ oauth2: [ethics:evaluate] }]
    parameters:
      - in: path
        name: id
        required: true
        schema: {{ type: string }}
    responses:
      "200": {{ description: Rubric }}


components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.coherosphere.com/oauth/authorize
          tokenUrl: https://auth.coherosphere.com/oauth/token
          scopes:
            poc:read: Read PoC data
            poc:write: Write PoC data
            gov:read: Read governance data
            gov:vote: Cast votes
            gov:write: Create or manage proposals
            treasury:read: Read treasury data
            treasury:manage: Manage rounds and payouts
            id:read: Read identity and reputation
            id:issue: Issue credentials
            id:verify: Verify credentials/evidence
            metrics:read: Read KPIs and SRI
            ethics:evaluate: Run ethics checks
            hub:manage: Manage local hubs and projects
            hub:read: Read hubs/projects
            kg:ingest: Ingest knowledge
            kg:query: Query knowledge
            security:ingest: Send SIEM telemetry
            security:manage: Manage incidents and reports
    did_jwt:
      type: http
      scheme: bearer
      bearerFormat: DID-JWT
  schemas:
    Problem:
      type: object
      properties:
        type: { type: string }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
      required: [type, title, status]
    IdResponse:
      type: object
      properties:
        id: { type: string }
      required: [id]
