openapi: 3.1.0
    info:
      title: C2-09 Knowledge Graph API
      version: 1.0.0
    servers:
      - url: https://api.coherosphere.com
    tags:
  - name: Knowledge
paths:

/v1/ingest:
  post:
    summary: Ingest sources
    tags: [Knowledge]
    security: [{ oauth2: [kg:ingest] }]
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              sources:
                type: array
                items: { type: string }
    responses:
      "202": {{ description: Accepted }}
/v1/rag/query:
  post:
    summary: RAG query
    tags: [Knowledge]
    security: [{ oauth2: [kg:query] }]
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              question: { type: string }
              topK: { type: integer, default: 5 }
    responses:
      "200": {{ description: Answers }}
/v1/entities/{id}:
  get:
    summary: Get KG entity by id
    tags: [Knowledge]
    security: [{ oauth2: [kg:query] }]
    parameters:
      - in: path
        name: id
        required: true
        schema: {{ type: string }}
    responses:
      "200": {{ description: Entity }}


components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.coherosphere.com/oauth/authorize
          tokenUrl: https://auth.coherosphere.com/oauth/token
          scopes:
            poc:read: Read PoC data
            poc:write: Write PoC data
            gov:read: Read governance data
            gov:vote: Cast votes
            gov:write: Create or manage proposals
            treasury:read: Read treasury data
            treasury:manage: Manage rounds and payouts
            id:read: Read identity and reputation
            id:issue: Issue credentials
            id:verify: Verify credentials/evidence
            metrics:read: Read KPIs and SRI
            ethics:evaluate: Run ethics checks
            hub:manage: Manage local hubs and projects
            hub:read: Read hubs/projects
            kg:ingest: Ingest knowledge
            kg:query: Query knowledge
            security:ingest: Send SIEM telemetry
            security:manage: Manage incidents and reports
    did_jwt:
      type: http
      scheme: bearer
      bearerFormat: DID-JWT
  schemas:
    Problem:
      type: object
      properties:
        type: { type: string }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
      required: [type, title, status]
    IdResponse:
      type: object
      properties:
        id: { type: string }
      required: [id]
