openapi: 3.1.0
    info:
      title: C2-04 Treasury API
      version: 1.0.0
    servers:
      - url: https://api.coherosphere.com
    tags:
  - name: Treasury
paths:

/v1/rounds:
  post:
    summary: Open QF round
    tags: [Treasury]
    security: [{ oauth2: [treasury:manage] }]
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              poolCurrency: { type: string }
              poolAmount: { type: number }
            required: [poolCurrency, poolAmount]
    responses:
      "201": {{ description: Created, content: {{ application/json: {{ schema: {{ $ref: "#/components/schemas/IdResponse" }}}}} }}}
/v1/rounds/{id}/close:
  post:
    summary: Close and match
    tags: [Treasury]
    security: [{ oauth2: [treasury:manage] }]
    parameters:
      - in: path
        name: id
        required: true
        schema: {{ type: string }}
    responses:
      "202": {{ description: Matching started }}
/v1/projects/{id}/donations:
  post:
    summary: Record donation
    tags: [Treasury]
    security: [{ oauth2: [treasury:manage] }]
    parameters:
      - in: path
        name: id
        required: true
        schema: {{ type: string }}
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              amount: { type: number }
              txRef: { type: string }
            required: [amount]
    responses:
      "201": {{ description: Donation recorded }}
/v1/payouts/stream:
  post:
    summary: Create payout stream/escrow
    tags: [Treasury]
    security: [{ oauth2: [treasury:manage] }]
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              projectId: { type: string }
              totalAmount: { type: number }
              cadence: { type: string }
            required: [projectId, totalAmount]
    responses:
      "201": {{ description: Stream created, content: {{ application/json: {{ schema: {{ $ref: "#/components/schemas/IdResponse" }}}}} }}}


components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.coherosphere.com/oauth/authorize
          tokenUrl: https://auth.coherosphere.com/oauth/token
          scopes:
            poc:read: Read PoC data
            poc:write: Write PoC data
            gov:read: Read governance data
            gov:vote: Cast votes
            gov:write: Create or manage proposals
            treasury:read: Read treasury data
            treasury:manage: Manage rounds and payouts
            id:read: Read identity and reputation
            id:issue: Issue credentials
            id:verify: Verify credentials/evidence
            metrics:read: Read KPIs and SRI
            ethics:evaluate: Run ethics checks
            hub:manage: Manage local hubs and projects
            hub:read: Read hubs/projects
            kg:ingest: Ingest knowledge
            kg:query: Query knowledge
            security:ingest: Send SIEM telemetry
            security:manage: Manage incidents and reports
    did_jwt:
      type: http
      scheme: bearer
      bearerFormat: DID-JWT
  schemas:
    Problem:
      type: object
      properties:
        type: { type: string }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
      required: [type, title, status]
    IdResponse:
      type: object
      properties:
        id: { type: string }
      required: [id]
